.bandeaupromo-section {
    position: relative;
    width: 100%;
    max-height: 360px;
    overflow: hidden;
    margin-top: 40px;
}

.bandeaupromo-image {
    width: 100%;
    height: auto;
    max-height: 360px;
    object-fit: cover;
}

.bandeaupromo-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    font-size: 3rem; /* Utilisation de rem pour une meilleure adaptabilité */
    font-weight: bold;
    color: #28264B;
    z-index: 10;
}

.bandeaupromo-text .highlight-text {
    color: white;
}

/* Media Queries pour les écrans plus petits */
@media (max-width: 768px) {
    .bandeaupromo-text {
        font-size: 2rem; /* Réduction de la taille de la police */
        left: 50%;
        top: 45%;
    }
}

@media (max-width: 480px) {
    .bandeaupromo-text {
        font-size: 1.5rem; /* Encore plus petit pour les très petits écrans */
        left: 50%;
        top: 40%;
    }
}
