/* Boutoncta.css */
.cta1 {
    display: flex;
    justify-content: center;
    margin-top: 20px; /* Ajuste la marge au besoin */
}

.cta-button1 {
    padding: 10px 30px;
    background-color: #3889EC; /* Couleur du bouton mise à jour */
    color: white;
    text-decoration: none;
    border-radius: 50px;
    font-size: 20px; /* Taille de la police augmentée */
    transition: background-color 0.3s ease, transform 0.3s ease; /* Ajout de la transition pour le transform */
}

.cta-button1:hover {
    background-color: #055b75; /* Couleur au survol */
    transform: scale(1.05); /* Agrandit légèrement le bouton au survol */
}
