* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.titrecategorie-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 2rem; 
    position: relative;
    margin-top: 30px;
}

.text-box {
    display: inline-block;
    padding: 10px 30px;
    margin: 5px;
    font-size: 2em; 
    font-weight: bold;
    color: #ffffff;
    border-radius: 50px;
    position: relative;
    transform-origin: center;
}

.decouvrir {
    background-color: #FF960C;
    transform: rotate(340deg);
    margin-left: -240px; 
}

.realisations1 {
    background-color: #8E44AD;
    transform: rotate(4deg);
    margin-top: -10px;
    z-index: 0;
}
