.hero-section {
    display: flex;
    justify-content: flex-start; /* Aligne le contenu à gauche */
    align-items: center; /* Centre verticalement */
    height: 65vh;
    padding: 0 80px;
    background-image: url('../Assets/HEROS.png'); /* Assure que l'image de fond est visible */
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    overflow: hidden;
}

.hero-content {
    display: flex;
    flex-direction: column;
    align-items: flex-start; /* Aligne le contenu à gauche */
    max-width: 50%;
    color: #28264B;
    text-align: left; /* Aligne le texte à gauche */
}

.hero-content h1 {
    font-size: 55px; /* Taille de la police */
    font-weight: bold;
    margin-bottom: 20px;
}

.hero-content .highlight-inline {
    display: inline-block;
    vertical-align: baseline;
    color: #8E44AD;
}

.word-rotate {
    font-weight: bold;
    font-size: inherit; /* Assure que le texte rotatif a la même taille que le texte principal */
}

.hero-content .cta1 {
    margin-top: 20px; /* Ajuste l'espacement au-dessus du bouton */
}

/* Styles responsive */
@media (max-width: 768px) {
    .hero-section {
        padding: 0 20px;
    }

    .hero-content {
        max-width: 100%;
    }

    .hero-content h1 {
        font-size: 30px;
    }
}
