/* Accueil.css */

/* Styles pour les services */
.services-accroche h2 {
    font-size: 30px;
    font-weight: bold;
    text-align: center;
    color: #000000;
}

/* Style pour centrer le bouton CTA */
.bouton-cta-container {
    display: flex;
    justify-content: center;
    margin-top: 20px;
    margin-bottom: 40px;
}

/* Styles pour la section full-page-image */
.full-page-image-section {
    position: relative;
    width: 100%;
    max-height: 360px;
    overflow: hidden;
    margin-top: 40px;
}

.full-page-image {
    width: 100%;
    height: auto;
    max-height: 360px;
    object-fit: cover;
}

.full-page-text {
    position: absolute;
    top: 50%;
    left: 30%;
    transform: translate(-50%, -50%);
    text-align: center;
    font-size: 60px;
    font-weight: bold;
    color: #28264B;
    z-index: 10;
}

.full-page-text .highlight-text {
    color: white;
}

/* Styles pour les articles de blog */
.articles-section {
    padding: 50px 0;
}

.articles-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
}

/* Styles pour la section testimonials */
.testimonials-section {
    padding: 50px 20px;
    text-align: center;
}

.testimonials-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 30px;
}

.testimonial-card {
    background-color: #F4F5F6;
    border-radius: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
    max-width: 300px;
    flex: 1;
    text-align: left;
}

.testimonial-card p {
    font-size: 16px;
    margin-bottom: 20px;
}

.testimonial-author {
    display: flex;
    align-items: center;
}

.testimonial-photo {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-right: 10px;
    object-fit: cover;
}

.testimonial-author strong {
    font-size: 20px;
    font-weight: bold;
    display: block;
}

.testimonial-author span {
    font-size: 15px;
}

/* Styles pour la section contact */
.contact-section {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding: 50px 20px;
}

.contact-left {
    flex: 1;
    margin-right: 20px;
}

.contact-right {
    flex: 1;
    position: relative;
    text-align: center;
}

.contact-right h2 {
    font-size: 48px;
    font-weight: bold;
    margin-bottom: 20px;
    color: #000000;

}

.contact-right .highlight-text {
    color: #000000;

}

/* Styles pour la bulle de texte */
.bubble-text-container {
    display: inline-block;
    position: absolute;
    top: -30px;
    left: 50%;
    transform: translateX(-50%);
    background-color: #8E44AD;
    color: white;
    padding: 10px 20px;
    border-radius: 20px;
    font-size: 24px;
    z-index: 10;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.image-wrapper {
    position: relative;
}


.chiencontact-image {
    width: 100%;
    border-radius: 200px;
    object-fit: cover;
    max-width: 430px;
    height: auto;
}


/* Responsive Styles */
@media (max-width: 768px) {
    .full-page-text {
        font-size: 40px;
    }

    .mobile-visitor-content {
        flex-direction: column;
        text-align: center;
    }

    .mobile-visitor-right {
        padding-left: 0;
        margin-top: 20px;
    }

    .mobile-visitor-percentage {
        font-size: 64px;
    }

    .mobile-visitor-description {
        font-size: 32px;
    }

    .mobile-visitor-button {
        font-size: 16px;
    }

    .testimonials-container {
        flex-direction: column;
    }

    .contact-section {
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    .contact-left {
        margin-right: 0;
        margin-bottom: 20px;
    }

    .chiencontact-image {
        max-width: 100%;
    }
}
