.realisations-container {

    margin: 0 auto;
    padding: 50px 20px;
}

.realisations-header {
    margin-bottom: 20px;
    text-align: right;
}

.realisations-subtitle {
    font-size: 14px;
    letter-spacing: 2px;
    color: #999;
    margin: 0;
}

.realisations-title {
    font-size: 2.5rem;
    font-weight: 700;
    margin: 5px 0;
    color: #333;
    text-align: right; /* Aligne le titre à droite */
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.realisations-slash {
    color: #1ABC9C;
    margin-right: 10px;
}

.realisations-content {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    gap: 100px; /* Grand espace entre les paragraphes */
    margin-bottom: 20px;
    padding-bottom: 40px; /* Pour plus d'espace en bas */
}

.realisations-paragraph {
    max-width: 400px; /* Réduction de la largeur pour laisser plus de place */
    flex: 1;
}

.realisations-right {
    text-align: right;
    align-self: flex-start;
}

.realisations-left {
    text-align: left;
    align-self: flex-end;
}

.realisations-content p {
    font-size: 1.125rem;
    line-height: 1.6;
    color: #555;
    margin: 0;
}
