.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    background-color: #fff;
}

.logo a {
    text-decoration: none;
    font-size: 24px;
    font-weight: bold;
    color: #333;
}

.nav ul {
    list-style: none;
    display: flex;
    gap: 80px;
}

.nav a {
    text-decoration: none;
    color: #333;
    font-size: 18px;
    font-weight: bold;
}

.cta-button {
    padding: 10px 30px;
    background-color: #3889EC;
    color: white;
    text-decoration: none;
    border-radius: 50px;
    font-size: 18px;
    display: inline-block;
}

.jello-vertical {
    animation: jello-vertical 0.9s linear both; /* Animation une seule fois */
}

@keyframes jello-vertical {
    0% { transform: scale3d(1, 1, 1); }
    30% { transform: scale3d(.75, 1.25, 1); }
    40% { transform: scale3d(1.25, .75, 1); }
    50% { transform: scale3d(.85, 1.15, 1); }
    65% { transform: scale3d(1.05, .95, 1); }
    75% { transform: scale3d(.95, 1.05, 1); }
    100% { transform: scale3d(1, 1, 1); }
}
