/* Général */
* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Poppins', sans-serif;
}

.custom-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    position: relative;
    z-index: 10;
}

.custom-logo {
    display: flex;
    align-items: center;
    color: #8E44AD;
}

.custom-logo a {
    text-decoration: none;
    color: #8E44AD;
}

.custom-nav {
    display: flex;
    gap: 80px;
}

.custom-nav ul {
    list-style: none;
    display: flex;
    gap: 80px;
}

.custom-nav-link {
    text-decoration: none;
    color: #333;
    font-size: 18px;
    font-weight: bold;
    position: relative;
    transition: all 0.5s ease;
}

.custom-nav-link:after {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    width: 70px;
    height: 20px;
    transform-style: preserve-3d;
    transform: translate(-50%, -50%) rotate(0deg) scale(0);
    transition: all 1.5s cubic-bezier(.43, 1.91, .351, .74);
    z-index: -1;
    border-radius: 20px;
}

.custom-nav-link:hover:after {
    transform: translate(-50%, -50%) rotate(160deg) scale(1.2);
}

.custom-nav-link:hover {
    color: #fff;
    text-shadow: 1px 1px 4px rgba(0, 0, 0, 0.6);
}

/* Couleurs spécifiques pour chaque lien */
.custom-nav-link.presentation:after {
    background: #28264B; /* Couleur pour "Presentation" */
}

.custom-nav-link.services:after {
    background: #3889EC; /* Couleur pour "Services" */
}

.custom-nav-link.realisations:after {
    background: #8E44AD; /* Couleur pour "Realisations" */
}

.custom-nav-link.blog:after {
    background: #FF960C; /* Couleur pour "Blog" */
}

.custom-cta-button {
    padding: 10px 30px;
    background-color: #3889EC;
    color: white;
    text-decoration: none;
    border-radius: 50px;
    font-size: 18px;
    display: inline-block;
}

/* Animation burger et modale */
.burger-menu {
    display: none;
    cursor: pointer;
    position: relative;
    z-index: 11; /* Assure que l'icône est au-dessus de la modale */
}

.burger-menu.active {
    position: fixed; /* Positionne l'icône sur la modale */
    top: 20px;
    right: 20px;
}

.burger-menu img {
    width: 30px;
    height: 30px;
}

/* Overlay modale */
.menu-overlay {
    position: fixed;
    top: 0;
    right: 0;
    width: 100%;
    max-height: 50vh; /* Limite la hauteur à 50% de la hauteur de la fenêtre */
    background-color: rgba(0, 0, 0, 0.9); /* Fond noir légèrement moins transparent */
    z-index: 10;
    display: none;
    flex-direction: column;
    justify-content: flex-start; /* Alignement en haut */
    align-items: center;
    padding: 20px;
}

.menu-overlay.active {
    display: flex;
}

.menu-nav ul {
    list-style: none;
    text-align: center;
    margin-top: 20px; /* Permet d'ajuster le contenu plus haut */
}

.menu-nav-link {
    text-decoration: none;
    color: #fff;
    font-size: 24px;
    font-weight: bold;
    margin: 20px 0;
    transition: color 0.3s ease;
}

.menu-nav-link:hover {
    color: #3889EC;
}

/* Responsiveness */
@media (max-width: 768px) {
    .custom-nav {
        display: none;
    }

    .burger-menu {
        display: block;
    }
}
