/* Barreservice.css */

.services-container {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    padding: 20px;
}

.service-card {
    background-color: #fff;
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 300px;
    margin: 20px;
    overflow: hidden;
    color: #333;
    text-align: center;
}

.service-content {
    padding: 20px;
}

.service-header {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 15px;
}


.service-icon-img {
    width: 30px;
    height: 30px;
    margin-right: 10px;

}

.service-title {
    font-size: 18px;
    font-weight: bold;
    color: #fff;
}

.service-description {
    padding: 10px;
}

.service-image {
    width: 100px;
    height: auto;
    margin-bottom: 10px;
}

.service-description p {
    font-size: 14px;
    color: #ffffff;
    font-weight: bold;
}
